<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新增書籍</title>
</head>
<body>
    <h1>書籍表單輸入</h1>
    <form action="/submit" method="post">
        <label>書名:</label>
        <input type="text" name="name" required><br><br>

        <label>類型:</label>
        <input type="text" name="type_" required><br><br>

        <label>出版社:</label>
        <input type="text" name="publish"><br><br>

        <label>書號:</label>
        <input type="text" name= "isbn"><br><br>

        <label>價格:</label>
        <input type="number" id="price" min="0" step="0.1" name="price"><br><br>

        <input type="submit" value="送出">
    </form>
</body>
</html>